$black: #000000;
$white: #ffffff;

$asparagus: #82934b; /* rgb 130, 147, 75 */
$carrot: #ef9421; /* rgb 239, 148, 33 */
$chrome: #e2edd7; /* rgb 226, 237, 215 */
$dune: #363432; /* rgb 54, 52, 50 */
$elm: #1a6874; /* rgb 26, 104, 116 */
$geraldine: #f79b82; /* rgb 247, 155, 130 */
$picton-blue: #47c5e0; /* rgb 71, 197, 224 */
