@import '../../styles/variables';
@import '../../styles/mixins';

.park-card {
  display: flex;
  flex-direction: column;
  border: 1px solid $dune;
  color: $black;
  font-size: $base-font-size;
  margin-right: $size-sm;
  margin-left: $size-sm;

  &.featured {
    background-color: $elm;
    color: white;
  }

  .banner {
    padding: $size-sm;
    margin-bottom: 0;
    font-size: $font-size-sm;

    @media #{$media-query-md} {
      font-size: $font-size-md;
    }

    &__text {
      font-weight: bold;
    }

    &--natural {
      background-color: $asparagus;
      color: $black;
    }

    &--historical {
      background-color: $carrot;
      color: $black;
    }

    &--monument {
      background-color: $elm;
      color: $white;
    }
  }

  .image {
    min-height: px-to-rem(250px);
    object-fit: cover;
  }

  .card-body {
    display: flex;
    flex-direction: column;

    .card-title {
      font-size: $font-size-md;
      font-weight: bold;
      margin: $size-md;

      @media #{$media-query-md} {
        font-size: $font-size-lg;
      }
    }

    .card-text {
      margin: 0 $size-md $size-lg $size-md;
    }

    .card-button {
      margin-top: auto;
    }
  }
}
