@import "./styles/functions.scss";
@import "./styles/media-queries.scss";

.row {
  row-gap: px-to-rem(30px);

  @media #{$media-query-md} {
    row-gap: px-to-rem(15px);
  }

  [class^="col-"] {
    padding: 0;
  }
}
