@import '../../../styles/variables';

.button {
  padding: $size-sm $size-md;
  margin: 0 $size-md $size-md $size-md;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear;
  cursor: pointer;

  &.featured {
    background-color: $chrome;
    color: $black;
  }

  &--natural {
    background-color: $asparagus;
    color: $black;

    &:hover {
      background-color: $elm;
      color: $white;
    }
  }

  &--historical {
    background-color: $carrot;
    color: black;

    &:hover {
      background-color: $geraldine;
    }
  }

  &--monument {
    background-color: $elm;
    color: $white;

    &:hover {
      background-color: $asparagus;
      color: $black;
    }
  }
}
